body { padding-top:30px; }

td {
	padding:10px;
}

.text-small {
	font-size: 18px !important;
}

.mono {
	font-family: monospace;
}

.chart-med {
	height: 330px;
	width:330px;
}

.chart-med h4 {
	text-align: center;
}
