<div class="jumbotron" ng-init="ctrl.getConfig()">
	<h2>Configure Scans</h2>

	<hr>

	<h3>Automatic Scans</h3>
	<p>The following scans are configured to run automatically</p>

	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<th>Scan Frequency</th><th>Command</th><th></th>
		</tr>
		<tr ng-repeat="job in ctrl.jobs">
			<td><code>{{job.freq}}</code></td>
			<td><code>{{job.command}}</code></td>
			<td style="width:1px"><button class="btn btn-default btn-sm" ng-click="ctrl.removeCron(job.index)"><span class="glyphicon glyphicon-remove"></span></button></td>
		</tr>
	</table>

	<h4>Schedule Scan</h4>
	<form class="simple-form">
		<div class="form-group form-inline">
			<label>Run the command
			<select ng-model="ctrl.commandType">
			  <option value="fetchHosts">fetchHosts</option>
			  <option value="scanPorts">scanPorts</option>
			  <option value="subjack">subjack</option>
			</select> with args
			 <input class="form-control" type="text" ng-model="ctrl.commandArgs" style="width:150px !important; height:23px!important;"> every <input class="form-control" type="number" ng-model="ctrl.freq" style="width:75px !important; height:23px!important;"></label>
			<select ng-model="ctrl.frequnit">
			  <option value="minutes">minutes</option>
			  <option value="hours">hours</option>
			  <option value="days">days</option>
			  <option value="months">month</option>
			</select></label>
			<br><br>
			<input type="submit" ng-click="ctrl.scheduleCron()" value="Schedule" class="btn btn-default"  />
		</div>
	</form>

	<hr>

	<h3>Run Manual Scan</h3>
	<p>Runs a passive port scan using Rapid7's Project Sonar data.</p>
	<form class="simple-form">
		<div class="form-group">
			<input type="submit" ng-click="ctrl.initPortScan()" value="Run Port Scan" class="btn btn-default"  />
		</div>
	</form>

</div>
