<div class="jumbotron" ng-init="ctrl.fetchAll()">
	<h2>URLs</h2>

	<p>Below is a list of your urls.</p>
	<form class="form-horizontal">
	    <textarea ng-model="ctrl.url" id="url" placeholder="http://" class="form-control"></textarea><br>
        <button type="submit" class="btn special" ng-click="ctrl.add()">Add</button>
    </form>
	<br><br>
	<table class="table table-striped table-bordered">
	<tr><th>Url</th><th>Title</th><th>Actions</th></tr>
	<tr ng-repeat="url in ctrl.urls">
		<td class="col-md-4">
			{{ url.url }}
		</td>
		<td class="col-md-4">
			{{ url.title }}
		</td>
		<td class="col-md-4">
			<button class="btn btn-danger" ng-click="ctrl.delete(url.id)">Delete</button>
		</td>
	</tr>
	</table>
</div>